@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* カラーコード設定変数 */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --accent: #2F4644;
    --bg: #E4D8CF;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    width: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}


h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    color: var(--accent);
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    color: var(--accent);
}

h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    color: var(--accent);
}

p {
    font-family: "Noto Sans JP", sans-serif;
}

/* ==========================================================================
   ヘッダー＆ハンバーガーメニューの基本スタイル
   ========================================================================== */

.l-header {
    background-color: var(--accent);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    container-type: inline-size;
}

.l-header__logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.l-header__logo a {
    color: var(--white);
    white-space: nowrap;
}

/* ======================
画面幅375px以下のときの特殊対応
   ====================== */

@media (max-width: 375px) {
    .l-header__logo {
        width: calc(100vw - 30px);
        font-size: 6.6cqw;
    }
}


/* --------------------------------------------------------------------------
   チェックボックスと三本線ボタン
   -------------------------------------------------------------------------- */

.l-header__menu-toggle {
    display: none;
}

.l-header__nav-btn {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 110;
    display: flex;
    align-items: center;
}

/* 三本線の基本スタイル（真ん中の線） */
.l-header__nav-btn span,
.l-header__nav-btn span::before,
.l-header__nav-btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3s ease;
}

/* 上下の線を配置 */
.l-header__nav-btn span::before {
    top: -8px;
}

.l-header__nav-btn span::after {
    top: 8px;
}

/* --------------------------------------------------------------------------
   チェック時の三本線アニメーション（バツ印へ変化）
   -------------------------------------------------------------------------- */

.l-header__menu-toggle:checked~.l-header__nav-btn span {
    background-color: transparent;
}

.l-header__menu-toggle:checked~.l-header__nav-btn span::before {
    top: 0;
    transform: rotate(45deg);
}


.l-header__menu-toggle:checked~.l-header__nav-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* --------------------------------------------------------------------------
   スライドメニュー（ナビゲーション領域）
   -------------------------------------------------------------------------- */

.l-header__nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 50%;
    height: 60vh;
    background-color: var(--accent);
    padding-top: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    z-index: 105;
}

.l-header__menu-toggle:checked~.l-header__nav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.l-header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.l-header__nav-item a {
    color: var(--white);
    font-size: 1.25rem;
    font-family: "Noto Sans JP", serif;
    letter-spacing: 0.1em;
    display: block;
    padding: 10px 20px;
    transition: opacity 0.3s ease;
}

.l-header__nav-item a:hover {
    opacity: 0.7;
}



/*==========================
  メインビジュアル
==========================*/
.p-mv {
    background: url("../image/mv_1.jpg") center center / cover no-repeat;

    padding: 50px 20px;
    min-height: 700px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-mv__inner {
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.p-mv__inner-title {
    font-size: clamp(32px, 11vw, 48px);
    word-break: break-word;
    color: var(--accent);
    margin-bottom: 20px;
}

.p-mv__inner-title-sp-only-br {
    display: inline;
}

.p-mv__inner-text {
    font-size: 16px;
    color: var(--black);
    line-height: 1.8;
    margin: 0;
}

.p-mv__inner-text-sp-only-br {
    display: inline;
}

/* =========================================
   各セクションの共通部分（About～Gallery～Menu）
========================================= */

.js-fadein {
    opacity: 0;
    will-change: opacity, transform, filter;
}

/* ====================
   画像ホバーズーム
   ==================== */

.c-zoom-frame {
    transition: transform 0.5s ease;
}

.c-zoom-frame:hover {
    transform: scale(1.05);
}


.c-heading {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.p-menu__bg-01 {
    background-color: var(--bg);
}

.p-menu__bg-02 {
    background-color: var(--white);
}

/* =========================================
   Aboutセクションのスタイル
========================================= */

.p-about {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1500px;
    margin: 0 auto;
}

.p-about__bg-01 {
    background-color: var(--white);
}

.p-about__bg-02 {
    background-color: var(--bg);
}


.p-about__section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.p-about__subsection,
.p-about__subsection--alter {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.p-about__img--large,
.p-about__img--small {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}

.p-about__text {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
    color: var(--black);
}

/* =========================================
   Galleryのスタイル
========================================= */

.p-gallery {
    padding: 80px 20px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    overflow: hidden;

}


.p-gallery__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    width: max-content;
    animation: loop-carousel 30s linear infinite;
}

.p-gallery__img {
    /* コンテナの左右padding(20px + 20px = 40px)を引いた幅 = ぴったり2枚分 */
    width: calc(50vw - 40px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex-shrink: 0;
}

/* =========================================
   アニメーションキーフレーム
========================================= */
@keyframes loop-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* =========================================
   Menuセクションのスタイル
========================================= */
/* ===============
   ボタンのスタイル
=============== */

.c-btn {
    display: inline-block;
}


.c-btn--icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 280px;
    height: 70px;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    background-color: var(--accent);
    border: 1px solid var(--accent);
    transition: all 0.15s ease-out;
}

.c-btn--icon {
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
}

.c-btn--icon-link:hover {
    color: var(--accent);
    background-color: var(--white);
    border-color: var(--accent);
}

.c-btn--icon-link:active {
    transform: scale(0.97);
    opacity: 0.9;

}

/* ===============
   Menu全体のスタイル
================ */
.p-menu {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}


#menu.p-menu {
    gap: 50px;
}


.p-menu__section,
.p-menu__section--alter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.p-menu__img {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 30px;

}

/* =========================================
   フッターのスタイル（Access）
========================================= */

.l-footer {
    padding: 70px 20px 50px;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
}

.l-footer__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.l-footer__info-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer__info-list {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--white);
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;
    row-gap: 15px;
    align-items: start;

}

.l-footer__info-item-title,
.l-footer__info-item-content {
    margin: 0;
    text-align: left;
    line-height: 1.6;
}

.l-footer__img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.l-footer__map {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.l-footer__map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.l-footer__copyright {
    display: block;
    text-align: center;
    color: var(--white);
}


/* ==========================================================================
   PC用スタイル（画面幅768px以上）
   ========================================================================== */
@media screen and (min-width: 768px) {

    /* =============
       ヘッダー部分
       ============= */

    .l-header__nav-btn {
        display: none;
    }


    .l-header__nav {
        position: static;
        width: auto;
        height: auto;
        padding-top: 0;
        opacity: 1;
        visibility: visible;
        transform: none;
        background-color: transparent;
    }

    .l-header__nav-list {
        flex-direction: row;
        gap: 20px;
    }

    .l-header__nav-item a {
        font-size: 1rem;
        padding: 5px 10px;
    }

    /* =============
       MV部分
       ============= */

    .p-mv__inner-title-sp-only-br {
        display: none;
    }

    .p-mv__inner-text-sp-only-br {
        display: none;
    }

    /* ================
       各セクション見出し部分
       ================= */

    .c-heading {
        width: 100%;
        max-width: 100%;
        text-align: left;
        margin-bottom: 50px;
    }

    /* ================
       About部分
       ================= */
    .p-about {
        padding: 100px 90px;
        gap: 50px;
    }

    .p-about__section {
        flex-direction: row;
        align-items: stretch;
        gap: 60px;
    }

    .p-about__img--large {
        width: calc(50% - 30px);
        height: 100%;
        object-fit: cover;
    }

    .p-about__subsection,
    .p-about__subsection--alter {
        width: calc(50% - 30px);
        display: flex;
        flex-direction: column;
        gap: 90px;
    }

    .p-about__bg-02 .p-about__section {
        flex-direction: row-reverse;
    }


    /* ================
       Gallery部分
       ================= */
    .p-gallery {
        padding: 100px 90px;
    }

    .p-gallery__img {
        width: calc((100vw - 180px) / 3);
        max-width: calc((1500px - 180px) / 3);
    }


    /* ================
       Menu部分
       ================= */
    .p-menu {
        padding: 100px 90px;
        max-width: 1500px;
        margin: 0 auto;
        width: 100%;
    }


    #menu.p-menu {
        gap: 0;
    }


    .p-menu__section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 0;
    }

    .p-menu__section>.c-btn {
        width: 100%;
        margin-bottom: 20px;

    }

    .c-btn--icon-link {
        width: 280px;
        height: 70px;
        flex-shrink: 0;
    }

    .p-menu__img {
        width: calc(50% - 15px);
        max-width: none;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }


    /* =============
       フッター部分
       ============= */

    .l-footer {
        padding: 100px 90px 50px;
        gap: 0;
    }

    .l-footer__info {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
    }

    .l-footer__info-left {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .l-footer__map {
        width: calc(50% - 10px);
        aspect-ratio: auto;
    }

    .l-footer__copyright {
        margin-top: 50px;
    }
}